* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
  margin-bottom: 12px;
}

.title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.5rem;
}

label {
  font-size: 1.2rem;
  color: #333;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  background-color: #b06ab3;
  color: #fff;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}
